.Profile-main-container{
   width: 100%;
   height: 100%;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   gap: var(--gap-md);
}

.Profile-avatar-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: var(--gap-sm);
   background-color: var(--ion-color-primary);
   padding: var(--gap-md) 0;
}

.Profile--avatar{
   height: 150px;
   width: 150px;
}

.Profile-form-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding: var(--padding-app) var(--padding-app) 100px var(--padding-app);
   gap: var(--gap-md);
}

.Profile-form-input-container{
   display: flex;
   flex-direction: column;
   gap: 0;
}

.Profile-form-input--label{
   font-size: var(--fs-body);
   color: var(--color-text-secondary);
}

.Profile-form--input{
   width: 100%;
   color: #fff;
   border-radius: var(--border-radius-sm);
   background-color: var(--color-text-secondary);
}

.Profile-form-button-container{
   width: 100%;
   display: flex;
}

.Profile-form--button{
   width: 100%;
}