.OwnCoruses-wrapper-container{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: var(--padding-app);
}

.OwnCourses-input-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: var(--gap-sm) var(--gap-xsm);
}

.OwnCourses-input-wrapper{
   width: 100%;
   height: 100%;
   display: flex;
   padding: var(--gap-xsm) var(--gap-sm);
   align-items: center;
   justify-content: center;
   background-color: var(--ion-color-primary);
   border-radius: var(--border-radius-sm);
}

.OwnCourses-select-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: var(--gap-xsm);
}

.OwnCourses-select-wrapper{
   width: 100%;
   height: 100%;
   display: flex;
   padding: var(--gap-xsm) var(--gap-sm);
   background-color: var(--ion-color-primary);
   border-radius: var(--border-radius-sm);
}

.OwnCourses-select--input{
   --placeholder-color: #fff;
}

.OwnCourses-select--input .select-icon-inner{
   color: #fff;
}

 .OwnCourses-select-container .select-custom {
   --color: var(--ion-color-primary-contrast);
 }
 
 .OwnCourses-select-container .select-custom .select-icon {
   color: var(--ion-color-primary-contrast);
 }
 
 .OwnCourses-select-container .select-custom .select-text {
   color: var(--ion-color-primary-contrast);
 }